<div class="container">
  <div id="sports">

  <h1>
    {{ title }}
    <iron-icon id="title-icon" icon="app-icons:golf-course"></iron-icon>    
  </h1>
  <h2 *ngIf="favSport">My favorite sport is {{ favSport }}</h2>

  <ul>
    <li *ngFor="let sport of sports" #[sport.name] id="{{ sport.name }}">
      {{ sport.name }}
      <paper-icon-button (click)="toggleEditInput('open', $event)" name="{{ sport.name }}" class="editSport-button" icon="app-icons:edit"></paper-icon-button>
    </li>
  </ul>

  <div *ngIf="!currentlyEditting; else editSport">
    <paper-input #addSportInput label="Add Sport">
      <div slot="prefix">
        <iron-icon id="addSport-icon" icon="app-icons:present-to-all"></iron-icon>
      </div>
    </paper-input>

    <paper-button raised #addSportButton (click)="sportsConfig('add', addSportInput.value)">
      Add
    </paper-button>
    <p class="error-message" *ngIf="inputError">{{ inputError }}</p>
  </div>

  <ng-template #editSport>
    <paper-input #editSportInput label="Edit '{{ currentlyEditting }}'">
      <div slot="prefix">
        <iron-icon id="addSport-icon" icon="app-icons:edit"></iron-icon>
      </div>
    </paper-input>

    <paper-button raised #editSportButton (click)="sportsConfig('edit', editSportInput.value)">
      Edit
    </paper-button>

    <paper-icon-button (click)="toggleEditInput('close')" icon="app-icons:close"></paper-icon-button>

    <p class="error-message" *ngIf="inputError">{{ inputError }}</p>
  </ng-template>

</div><!-- SPORTS DIV -->
</div> <!-- CONTAINER DIV -->
