.container {
  width: 100%;
}

#sports {
  padding: 10px 25px;
}

h1, h2 {
  margin: 10px 0;
}

#title-icon {
  width: 35px;
  height: 35px;
  padding-bottom: 5px;
}

h2 {
  font-size: 2em;
}

ul {
  margin-bottom: 0;
}

li {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  max-width: 400px;
}
  .editSport-button {
    margin-left: auto;
  }

paper-input {
  width: 300px;
  max-width: 100%;
  display: inline-block;
    --paper-input-container-focus-color:  purple;
    --paper-input-container-invalid-color: red;
    --paper-input-container-input-color: black;
}
  #addSport-icon {
    margin-right: 5px;
  }

paper-button {
  font-size: 1.8em;
  background-color: purple;
  color: white;
  padding: 10px 40px;
}

.error-message {
  margin:15px;
  color:red;
}
