<div id="sports-list">

<!-- INTRO -->
<h1>
  {{ title }}
  <iron-icon id="title-icon" icon="app-icons:golf-course"></iron-icon>
</h1>
<h3 *ngIf="favSport">My favorite sport is {{ favSport.name }}</h3>

<!-- SPORTS ARRAY LIST -->
<ul>
  <li *ngFor="let sport of sports" (click)="fireSportToggleEvent('open', $event, sport)" id="{{ sport.name }}" [class.selected]="currentlySelected === sport">
    {{ sport.name }}
    <paper-icon-button (click)="toggleEditInput('open', sport)" name="{{ sport.name }}" class="editSport-button" icon="app-icons:edit"></paper-icon-button>
  </li>
</ul>

<!-- IF CONDITION CONTENT (IF USER IS NOT EDITTING AN ITEM THE INPUT IS SET TO ADD ITEMS TO THE LIST BY DEFAULT) -->
<div *ngIf="!currentlyEditting; else editSport">
  <paper-input #addSportInput label="Add Sport">
    <div slot="prefix">
      <iron-icon id="addSport-icon" icon="app-icons:present-to-all"></iron-icon>
    </div>
  </paper-input>
  <paper-button raised #addSportButton (click)="sportsConfig('add', addSportInput.value)" class="sportList-configButton">
    Add
  </paper-button>
  <p class="error-message" *ngIf="inputError">{{ inputError }}</p>
</div>

<!-- ELSE TEMPLATE (IF USER HAS SELECTED TO EDIT ITEM) -->
<ng-template #editSport>
  <paper-input #editSportInput label="Edit '{{ currentlyEditting.name }}'">
    <div slot="prefix">
      <iron-icon id="editSport-icon" icon="app-icons:edit"></iron-icon>
    </div>
  </paper-input>
  <paper-button raised #editSportButton (click)="sportsConfig('edit', editSportInput.value)" class="sportList-configButton">
    Edit
  </paper-button>
  <div>
    <paper-button raised (click)="toggleEditInput('close')" id="cancelEdit-button">
      Cancel Edit
      <iron-icon icon="app-icons:close"></iron-icon>
    </paper-button>
  </div>
  <p class="error-message" *ngIf="inputError">{{ inputError }}</p>
</ng-template>

</div><!-- SPORTS-LIST DIV -->
