.container {
  clear: both;
  width: 100%;
  padding-bottom: 25px;
}

.content {
  padding: 25px;
}

p {
  color: blue;
}

section {
  width: 60%;
  margin: 0 auto;
  border: 1px solid purple;
  padding: 2%;
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .content {
    padding: 0;
  }

  section {
    width: 90%;
  }
}
