<div class="container">

  <div class="content">

    <section>
      <directives></directives>
    </section>

    <section>
      <services></services>
    </section>

    <section>
      <routing></routing>
    </section>

    <section>
      <observables></observables>
    </section>

    <section>
      <two-way-binding></two-way-binding>
    </section>

    <section>
      <component-communication></component-communication>
    </section>

    <section>
      <view-encapsulation></view-encapsulation>
    </section>

    <section>
      <local-references></local-references>
    </section>

    <section>
      <app-ng-content></app-ng-content>
    </section>

    <section>
      <component-lifecycle></component-lifecycle>
    </section>

</div>
