/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 62.5%;
  min-height:100%;
  position:relative;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  font-size: 1.8em;
}

paper-input {
  --paper-input-container-focus-color:  purple;
}

paper-button {
  background-color: purple;
  color: white;
  font-size: 1.8em;
}

.centered-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.indent {
  padding-left: 25px;
}
